@charset "UTF-8";

/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: var(--black)}
ul,  li,  ol {list-style: none;}
button {border: none;}
h1, h2, h4, h5, p, ul, a, button {font-family: 'Raleway', sans-serif;}
h3, h6, span {font-family: 'Playfair Display', serif;}
.bg2023 {font-family: 'Noto Serif Bengali', serif;}


@import url('https://fonts.googleapis.com/css2?family=Genos:wght@600&family=Noto+Serif+Bengali:wght@800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  
  /* 공통 */
  body {
    background-color: #F1EEE9;
  }

  :root {
    --maincolor: #C6A26E;
    --white: #fff;
    --black: #222;
  }
  h1 {    font-size: 10rem;  }
  h2 {    font-size: 8.5rem;  }
  h3 {    font-size: 5rem;  }
  h4 {    font-size: 4rem;  }
  h5 {    font-size: 3rem;  }
  h6 {    font-size: 2.5rem;  }
  p {    font-size: 1.2rem;  }
  
  html { font-size: 15px;}
  
  .deco .big {width: 100%; height: 100px; background-color: aqua;}
.newsWrap {width: 100%; height: 700px; background-color: gold;}
.news {width: 100%; height: 100%;}
.news > .box {width: 100%; height: 100%; display: flex;}
.news>.box>.img {width: 65%; height: 100%; background-size: cover; background-repeat: no-repeat;}
.news>.box>.text {width: 35%; height: 100%; padding: 50px;}
.news>.box>.text>h3 {line-height: 2.5rem;}

.part2 {width: 100%; height: 500px; background-color: pink; margin: 100px 0;}
.part2 .small {width: 140%; height: 100%;}
.part2 .small li {width: 20%; height: 100%; background-color: gray; float: left; border-radius: 50px; margin: 0 20px;}

  